<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xsi:schemaLocation="http://www.springframework.org/schema/beans 
http://www.springframework.org/schema/beans/spring-beans.xsd">

<bean id="act" class="com.pranav.demos.Account" scope="singleton" init-method="setup" destroy-method="teradown">
<!-- By default the scope is singleton -->

<constructor-arg value="1"></constructor-arg>
<constructor-arg value="Chetan"></constructor-arg>
<constructor-arg value="1234.56"></constructor-arg>

</bean>
</beans>

<!-- The class should be always under package. Spring cannot identify class without package.  -->